@media (min-width: 520px) {
    body{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    .container-txt{
        max-width: 50%;

        /* background: #000000; 
        color: whitesmoke;*/
    }
}

@media (max-width: 520px) {
    body{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .container-all-txt {
        flex-direction: column;
    }

    .container-chapters #chapter-btns {
        grid-template-columns: repeat(10, 1fr);
        justify-items: self-end;
    }
}

header {
    /* background:  #ff009e; */
    background: #864903;
    width: 100%;
    height: 3.5em;
}

.container-all-txt{
    display: flex;
    justify-content: center;
}

.container-txt{
    padding: .7em;
    border-radius: 0.4em;
}

.container-chapters{
    padding: 1em;
    padding-top: 0;
    background: whitesmoke;
    border-radius: 0.4em;
}

.container-chapters div{
    width: 86%;
    display: grid;
    grid-template-columns: repeat(4, 1.6em);
}

.container-chapters a {
    text-decoration: none;
    cursor: pointer;
}

.container-chapters a:hover {
    color: whitesmoke;
    background: rgb(120, 112, 112);
}

.container-menu{
    display: flex;
    margin: 1em;
    justify-content: start;
    width: 67%;
    padding: 0;
    margin-bottom: 0;
}

.container-menu select {
    margin-right: 1.5em;
}

.container-menu button {
    width: 8em;
}

p {
    margin-bottom: 0.2rem;
}

.menu-lateral-btns-fontSize{
    display: flex;
    justify-content: start;
}

.menu-lateral-btns-fontSize p {
    margin-left: 2em;
    margin-right: 2em;
}

.menu-lateral-btns-fontSize a {
    background: #3f0a0a;
    color: whitesmoke;
}